.mainwrapper {
    display: flex;
    height: 100%;
}

.booking {
    padding: 2rem;
    padding-top: 20vh;
    width: 80%;
    height: 100%;

    @include mediaquery(630px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &__title {
        margin-bottom: 3rem;
        text-align: center;
    }
}

.calendar {
    width: 90%;
    min-height: 55vh;
    margin: 3rem auto;
    background-color: $gray;
    border: .5px solid #AAA;

    @include mediaquery(1100px) {
      width: 90%;
    }

    @include mediaquery(900px) {
      width: 100%;
    }

    &__month {
        padding: 2rem;
        text-align: center;
        border-bottom: .5px solid rgba(#999, .4);

        &-name {
            font-family: $primary-font;
        }
    }

    &__weekdays {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    &__weekday {
        padding: 2rem 0;
        width: 12%;

        &-sunday, &-monday, &-tuesday, &-wednesday, &-thursday, &-friday, &-saturday {
            color: $red;
            font-family: $primary-font;
            font-weight: bold;
            margin-bottom: 1.5rem;
            text-align: center;
        }
    }

    &__weekday:not(:last-child) {
        margin-right: 2rem;
    }

    &__bookingspot {
        padding: 1rem;
        display: flex;
        height: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lighten($malmogreen, 10%);
        box-shadow: 1px 1.5px 2px rgba(0, 0, 0, .5);
        color: $white;
        cursor: crosshair;
        margin-bottom: 1.5rem;
        text-align: center;
        transition: all .3s;

        // p {
        //     flex: 1 0 auto;
        // }

        .time {
            font-size: 2.2rem;
            font-weight: bold;
            font-family: $primary-font;
        }

        .price {
            font-family: $primary-font;
            color: $yellow;
        }

        &:hover {
            background-color: darken(#046A38, 5%);
        }
    }

    &__busy {
        background-color: darken($gray, 15%);

        &:hover {
            background-color: darken($gray, 20%);
        }

        .notavailable {
            font-family: $primary-font;
            color: $black;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    &__booked {
        background-color: $orange;

        .time {
            color: $black;
        }

        .price {
            color: $black;
        }

        &:hover {
            background-color: darken($orange, 5%);
        }
    }

    &__manual {
        width: 75%;
        margin: 3rem auto;
        // border: .5px solid lighten($malmogreen, 10%);
        box-shadow: 1px 1.5px 2px rgba(0, 0, 0, .5);
        padding: 1rem 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-available, &-notavailable, &-booked {
            font-family: $primary-font;
            display: flex;

            align-items: center;
        }

        &-available, &-notavailable, &-booked {
            margin-right: 2rem;

            span {
                display: inline-block;
                box-shadow: .5px 1px 1.5px rgba(0, 0, 0, .5);
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
                background-color: lighten($malmogreen, 10%);
            }
        }

        &-notavailable {

            span {
                background-color: darken($gray, 15%);
            }
        }

        &-booked {

            span {
                background-color: $orange;
            }
        }

        .info {
            font-family: $primary-font;
            margin-top: 1.5rem;

            span {
                font-weight: bold;
                color: $malmogreen;
                cursor: pointer;
                border-bottom: 1px dotted $malmogreen;

                &:hover {
                    background-color: $malmogreen;
                    color: $white;
                }
            }
        }
    }
}