.dashboard {
    width: 20%;
    background-color: $blue;
    margin-top: 7vh;
    height: 100%;

    @include mediaquery(850px) {
      width: 0;
    }

    .fixer {
        position: fixed;
        width: 20%;
        height: 100%;
        z-index: 10;
        background-color: #273c75;

        @include mediaquery(850px) {
          width: 100%;
          height: auto;
        }

        .accessability {

            @include mediaquery(850px) {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                padding: 1rem;
            }
        }

        .switchtheme {
            cursor: pointer;
            display: block;
            border: none;
            width: 65%;
            margin: 3rem auto;
            box-shadow: .5px 1px 1px rgba(0, 0, 0, .4);
            border: .5px solid transparent;
            padding: 1rem 2.5rem;
            background-color: $black;
            color: $white;
            font-size: 1.6rem;
            font-family: $primary-font;
            transition: all .3s;

            @include mediaquery(850px) {
              margin: .5rem 0;
              width: 40%;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                transform: translateY(-2px);
                border: .5px solid $black;
                color: $black;
                background-color: $white;
            }

            &:active {
                transform: translateY(3px);
            }
        }

        .lighttheme {
            background-color: $white;
            color: $black;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }

        .switchfont {
            width: 100%;
        }

        .switchfont label, .switchfontsize {
            width: 65%;
            margin: 0 auto;
            margin-bottom: .5rem;
            display: block;
            padding: 5px;
            font-family: $primary-font;

            @include mediaquery(850px) {
              width: 100%;
            }
        }

        .switchfont label {
            color: $white;
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
        }
    }

    /*
    * fixa .fixer först, gör den till 100% width och auto height. och sätt flex på allt (menyn, och accessability, samt själva fixern. dashboarden ska ha 0% width. sen får du formatera storleken av menyalternativen så de blir små och smidiga

    
    */

    &__menu {
        width: 100%;
        padding: 5rem 0;
        // z-index: 5;
        background-color: $blue;

        @include mediaquery(850px) {
          display: flex;
          padding: 2rem 0;
          padding-bottom: .5rem;
        }

        @include mediaquery(650px) {
          margin-top: 3.5rem;
        }

        &-item {
            font-family: $primary-font;
            padding: 1rem;
            color: $white;
            cursor: pointer;
            transition: all .3s;
            width: 100%;
            
            @include mediaquery(850px) {
              text-align: center;
            }

            &:hover {
                background-color: $orange;
                color: $black;
            }
        }

        .active {
            background-color: $orange;
            color: $black;
        }
        
    }
}