.helpwrapper {
    display: flex;
    padding: 5rem 8rem;
    padding-top: 20vh;
    
    @include mediaquery(950px) {
        padding: 5rem 4rem;
        padding-top: 20vh;
    }
    
    @include mediaquery(800px) {
        padding: 5rem 0rem;
        padding-top: 20vh;
    }

    @include mediaquery(680px) {
      flex-direction: column;
      align-items: center;
    }
}

.sidebar {
    margin-top: 10vh;
    width: 40%;

    @include mediaquery(680px) {
      width: 80%;
    }

    @include mediaquery(500px) {
      width: 90%;
    }

    .fixer {
        position: fixed;
        @include mediaquery(680px) {
          position: static;
        }
    }

    &__title {
        margin-bottom: 2rem;
        text-align: right;

        @include mediaquery(680px) {
          text-align: center;
        }
    }

    &__menu {
        margin-left: 1rem;
        width: 100%;
        position: relative;
        height: 100%;
        text-align: right;

        @include mediaquery(680px) {
          display: flex;
          margin-left: 0;
          text-align: center;
        }

        li {
            margin-bottom: 1rem;
            width: 100%;
            position: relative;
            left: -2px;



            a {
                font-weight: normal;
                font-family: $primary-font;
                border-right: 2px solid rgba(#DDD, .5);
                padding: .5rem 1.5rem;
                transition: all .3s;

                @include mediaquery(680px) {
                  border-right: 0;
                }
                
                &:hover {
                    border-right: 2px solid rgba($red, .5);

                    @include mediaquery(680px) {
                        border-right: 0;
                    }
                }
            }

            .activeitem {
                border-right: 2px solid rgba($red, .5);

                @include mediaquery(680px) {
                    border-right: 0;
                }
            }
        }
    }


}

.questions {
    margin-top: 10vh;
    width: 50%;

    @include mediaquery(650px) {
      width: 60%;
    }

    @include mediaquery(500px) {
      width: 85%;
    }

    .question {
        width: 100%;
        margin-bottom: 4rem;

        &__title {
            background-color: rgb(250, 244, 244);
            padding: 1rem 1.5rem;
            margin: 2rem auto;
            border-top: 2px solid $red;
            
            p {
                font-family: $primary-font;
                font-size: 2rem;
            }
        }

        &__text {
            margin-bottom: 1.5rem;
        }

        ol {
            margin-left: 2rem;
            margin-bottom: 2rem;
        }

        ul {
            margin-left: 2rem;
            margin-bottom: 2rem;
            list-style-type: disc;
        }
    }
}